<p>
  <b><%= "#{@options[@ans_index += 1]}. " %></b>
  <% if @answers_id.include?(ans.id) %>
    <% if ans.is_correct == false %>
      <b style="color:red"><%= ans.answer %></b>
    <% elsif ans.is_correct == true %>
      <b style="color:green"><%= ans.answer %></b>
    <% end %>
  <% else %>
    <% if ans.is_correct == true %>
      <b style="color:green"><%= ans.answer %> <i>(True)</i></b>
    <% else %>
      <%= ans.answer %>
    <% end %>
  <% end %>
</p>
