<div class="field" style="50%">
  <%= form_for(@category) do |f| %>
    <%= render "devise/shared/error_messages", resource: @category %>
    <p>
      <%= f.label :title %> <br>
      <%= f.text_field :title, class:"form-control" %>
    </p>
    <p>
      <% f.label :user_id %>
      <%= f.hidden_field :user_id, value:current_user.id %>
    </p>
    <p>
      <%= f.submit class:"btn btn-success" %>
    </p>
  <% end %>
</div>
<%= link_to("Back", categories_path) %>
