<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.png") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
      <%= render "shared/menu" %>
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>

<h2 style="color: gray"><%= @ticket.title %></h2>
<h4 style="color: gray">Code: <%= @ticket.code %></h4>

<div class="row">
  <div class="container">
    <div style="float: right">
      <%= form_for :question, url: {action: :importfile, controller: :questions} do |f| %>
        <%= f.hidden_field :ticket_id, value:@ticket.id %>
        <%= f.file_field :file_question, accept: "text/plain", style: "width: 200px" %>
        <%= f.submit "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Questions</th>
          <th scope="col" style="text-align: center">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @ques_index = 0 %>
        <%= render partial: "/creator/questions/shared/questions", collection: @questions, as: :qs %>
      </tbody>
    </table>
  </div>
</div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-top:5%;">
    <%= render("shared/footer") %>
  </div>
</div>
