<h2 style="color: gray"><%= @ticket.title %></h2>
<h4 style="color: gray">Code: <%= @ticket.code %></h4>

<div class="row">
  <div class="container">
    <div style="float: right">
      <%= form_for :question, url: {action: :importfile, controller: :questions} do |f| %>
        <%= f.hidden_field :ticket_id, value:@ticket.id %>
        <%= f.file_field :file_question, style: "width: 200px" %>
        <%= f.submit "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Questions</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each_with_index do |qs, i| %>
          <tr>
            <td><%= "Q#{i + 1}: #{qs.question}" %></td>
            <td>
              <%= link_to("Remove", question_path(qs), method: :delete, data: { confirm: 'Are you certain?' }, class:"btn btn-warning") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
