<tr>
  <td><%= subticket.code %></td>
  <td><%= subticket.ticket_id %></td>
 
  <td style="text-align: center">
    <%= link_to("<i class='fas fa-info-circle'></i>".html_safe, subticket_path(subticket), class: "btn btn-sm btn-info", 'data-toggle' => "tooltip", title:"Show", 'data-placement' => 'right') %>
    <%= link_to("<i class='fas fa-download'></i>".html_safe, download_subticket_path(subticket_id: subticket.id), class: "btn btn-sm btn-primary", 'data-toggle' => "tooltip", title:"Download", 'data-placement' => 'right') %>
    <%= link_to("<i class='fas fa-trash-alt'></i>".html_safe, subticket_path(subticket), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning", 'data-toggle' => "tooltip", title:"Delete", 'data-placement' => 'right') %>
  </td>
</tr>
