<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.jpg", width:"100%") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>
      <div class="" style="padding: 70px">
        <h1 style="color: red; margin-bottom: 30px; "><%= @ticket.code %></h1>
        <p>
          <p><b> Title: </b><%= @ticket.title %></p>
        </p>
        <p>
          <p><b>Subject: </b> <%= @ticket.category.title %></p>
        </p>
        <p>
          <p><b>Duration: </b> <%= @ticket.max_time.strftime("%Hh%M")%></p>
        </p>
        <p>
          <p><b>Description: </b><%= @ticket.description %></p>
        </p>
        <%= link_to("Start", exam_index_path(:code =>@ticket.code), class: "btn btn-info form-control", style: "margin-top: 50px") %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="">
  <div class="row" style="padding-top:5%;">
  </div>
</div>
