<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.jpg", width:"100%") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="info-ticket">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
    </div >
    <div class="col-md-8">
      <%= render("shared/alert") %>
      <div class="" style="padding: 70px; border: 1px solid gray;">
        <h1 style="color: red; margin-bottom: 30px; text-align: center;"><%= @ticket.code %></h1>
        <p><b> Title: </b><%= @ticket.title %></p>
        <p><b>Subject: </b> <%= @ticket.category.title %></p>
        <p><b>Duration: </b> <%= @ticket.max_time.strftime("%Hh%M")%></p>
        <p><b>Description: </b><%= @ticket.description %></p>
        <% total_user = History.where(ticket_id: @ticket.id).size %>
        <div class="bar-review"></div>
        <% total_user_is_passed = History.where(ticket_id: @ticket.id).where(is_passed: true).size %>
        <% count = 0
        percent = total_user_is_passed*100 / total_user  
        if percent > 80
        count = 1
        elsif percent > 60 && percent < 80 
          count = 2
        elsif percent > 40 && percent < 60 
          count = 3
        elsif percent > 20 && percent  < 40 
          count = 4
        elsif percent < 20
          count = 5
        end
        %>
        <span class="heading"><b>Difficult level: </b></span>
        <% (1..count).each do |i| %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <%= link_to("Start", exam_index_path(:code =>@ticket.code), class: "btn btn-info form-control", style: "margin-top: 50px") %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="">
  <div class="row" style="padding-top:5%;">
  </div>
</div>
<style>
  .checked {
   color: orange;
  }
</style>
