<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.jpg") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
      <%= render "shared/menu" %>
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>
      <div>
        <h2 style="color: gray; margin-bottom: 50px; text-align: center"><%= @code_exam %></h2>
        <% @quest_index = 0 %>
        <%= render partial: "/creater/histories/shared/questions", collection: @questions, as: :ques %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-top:5%;">
    <%= render("shared/footer") %>
  </div>
</div>
