<!--header -->
<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.jpg") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<!--body -->
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>
      <div class="index-show">
        <h1>Your profile :</h1>
        <div class="user-info-show">
          <div class="user-avatar-show">
            <%= avatar_for(current_user) %>
          </div>
          <div class="user-mail-name-show">
            <h3><%= current_user.firstname + " " + current_user.lastname %></h3>
            <p><%= current_user.email %></p>
            <% if current_user.role_user != "CREATOR" %>
              <%= form_tag charges_path do %>
                <article>
                  <% if flash[:error].present? %>
                    <div id="error_explanation">
                      <p><%= flash[:error] %></p>
                    </div>
                  <% end %>
                  <label class="amount">
                    <span>Do you want to be Creater?</span>
                  </label>
                </article>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
                <script src="https://js.stripe.com/v3/"></script>
              <% end %>
            <% end %>
          </div>
          <div class="user-btn-edit-show">
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-info" %>
          </div>
        </div>
      </>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <!--footer -->
  <div class="container">
    <div class="row" style="padding-top:5%;">
      <%= render("shared/footer") %>
    </div>
  </div>
  <!--CSS-->
  <style>
    .index-show {
      background-color: #FFF892;
      padding: 25px;
    }
    .user-info-show{
      display: flex;
      flex-direction: row;
    }
    .user-avatar-show img{
      width: 200px;
      height: 200px;
    }
    .user-btn-edit-show{
      right: 20%;
      position:absolute;
    }
  </style>
