<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.png") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
      <%= render "shared/menu" %>
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>

<h2 style="color: gray">Update your Ticket:</h2>
<%= render "/creator/tickets/shared/save_ticket" %>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-top:5%;">
    <%= render("shared/footer") %>
  </div>
</div>
