<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.jpg", width:"100%") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>
      <h2 style="color: gray; margin-bottom: 50px">Competitions:</h2>
      <div class="row">
        <%= render partial: "/guest/competition/shared/tickets", collection: @tickets, as: :ticket %>
      </div>
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="">
  <div class="row" style="padding-top:5%;">
    <%= render("shared/footer") %>
  </div>
</div>
