<div>
  <%= render "shared/navigation" %>
  <%= image_tag("cambridge_banner.jpg") %>
  <p class="notice"><% notice %></p>
  <p class="alert"><% alert %> </p>
</div>
<div class="container">
  <div class="row" style="padding-top:0%">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <%= render("shared/alert") %>

      <h2 style="color: gray; margin-bottom: 50px">Competitions:</h2>
      <%= render partial: "/guest/competition/shared/tickets", collection: @tickets, as: :ticket %>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="padding-top:5%;">
    <%= render("shared/footer") %>
  </div>
</div>
