<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <% if ticket.image? %>
      <%= image_tag ticket.image.url(:thumb), width: 150, height: 150 %>
    <% else %>
      <%= image_tag "learning_english.png", width: 150, height: 150 %>
    <% end %>
    <div>
      <div class="card-body"><hr>
        <h5 style="color: red">
          <%= link_to(truncate("#{ticket.title}", length: 15), confirm_path(:code => ticket.code), style: 'text-decoration: none;') %>
        </h5>
        <b class="card-text" style="color: blue">
          <%= truncate("#{ticket.category.title}", length: 20) %>
        </b>
        <p class="card-text" style="color: gray; font-size: 15px;">
          <%= truncate("#{ticket.description}", length: 26) %>
        </p>
        <%= link_to "Start",confirm_path(:code => ticket.code), class: "btn btn-primary", style: "text-align: center;"%>
      </div>
    </div>
  </div>
</div>
