<%= form_for(@ticket, mutipart: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: @ticket %>
  <p>
    <%= f.label :code %>
    <%= f.text_field :code, class: "form-control" %>
  </p>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </p>
  <p>
    <%= f.label :category_id, "Subject" %>
    <%= f.select "category_id", options_from_collection_for_select(@categories, "id", "title", :selected => @ticket.category_id), {}, class: "form-control" %>
  </p>
  <p>
    <%= image_tag @ticket.image.url(:thumb) if @ticket.image? %>
    <%= f.label :image %> <br>
    <%= f.file_field :image, class: "form-control"%>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </p>
  <p>
    <%= f.label :max_time %>
    <%= f.time_select :max_time, class: "form-control" %>
  </p>
  <p>
    <%= f.label :file_question, "File question" %>
    <%= f.file_field :file_question, class: "form-control"%>
  </p>
  <p>
    <%= f.submit class: "btn btn-success" %>
  </p>
<% end %>
