<tr>
  <td><%= ticket.code %></td>
  <td><%= ticket.title %></td>
  <td><%= ticket.category.title %></td>
  <td style="text-align: center">
    <div class="dropdown">
      <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to("<i class='fas fa-plus-square'></i> New Subtickets".html_safe, new_subticket_path(:code => ticket.code), class: "btn btn-sm btn-info dropdown-item", style: "color: green") %>
        <%= link_to("<i class='fas fa-info-circle'></i> Show Details".html_safe, questions_path(:ticket_code => ticket.code), class: "btn btn-sm btn-info dropdown-item", style: "color: green") %>
        <%= link_to("<i class='fas fa-pencil-alt'></i> Edit".html_safe, edit_ticket_path(ticket), class: "btn btn-sm btn-primary dropdown-item", style: "color: green") %>
        <%= link_to("<i class='fas fa-history'></i> Histories".html_safe, creator_history_path(code: ticket.code), class: "btn btn-sm btn-danger dropdown-item", style: "color: green") %>
        <%= link_to("<i class='fas fa-trash-alt'></i> Delete".html_safe, ticket_path(ticket), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-warning dropdown-item", style: "color: green") %>
      </div>
    </div>
  </td>
</tr>
